<!DOCTYPE html>
<html>
    <head>
        <title>Vine - ESP Game</title>
	    <strong><link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"></strong>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='js/esp-game.js') }}"></script>
   
    </head>
    <body>

        <div class="container">
            <div class="left">
                <img class="avatar" src="https://cdn3.iconfinder.com/data/icons/pictofoundry-pro-vector-set/512/Avatar-512.png"/>
                <h2>You</h2>
            </div>
           <div class="main">
                <h2 id="title">Vine ESP Game</h2>
                <p id="summary">You have 30 seconds to choose whether you think this vine is funny.  If your team mate agrees with you, you win!
                </p>
                <h3>Current Streak: 0</h3>
                <div id="vine_window">
                    <iframe class="vine-embed" width="480" height="480" frameborder="0"></iframe>
                    <script async src="//platform.vine.co/static/scripts/embed.js" charset="utf-8"></script>
                </div>
                <div id="controls_div">
                    <button style="float:left;" class="positive" type="button" id="funny" value="Funny">Funny</button>
                    <button style="float:right;"class="negative" type="button" id="not_funny" value="Not Funny">Not Funny</button>
                </div>
            </div>
            <div class="right">
                <img class="avatar" src="https://cdn3.iconfinder.com/data/icons/pictofoundry-pro-vector-set/512/Avatar-512.png"/>
                <h2>Other Player</h2>
            </div>
       </div>
    </body>
    
    
                          
</html>
